@model LoginViewModel

<div class="col-md-4">
    <form asp-controller="Home" asp-action="Signin" method="post" autocomplete="off">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" value="atilim.admin">
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" value="Password_*12">
        </div>

        <div class="form-check text-start my-3">
            <label asp-for="Remember" class="form-check-label"></label>
            <input asp-for="Remember" class="form-check-input">
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
</div>
