@model List<StudentViewModel>

<style>
    .active {
        color: black !important;
        background-color: darkgrey !important;
        border: 1px dashed black !important;
    }

    button p {
        margin-bottom: 5px !important;
        text-align: left !important;
    }
</style>

<div class="col-md-12 mb-2">
    <h4>Students</h4>
    <a asp-controller="Students" asp-action="CreateStudent" class="btn btn-success">
        <i class="fa-solid fa-plus-minus"></i>
    </a>
</div>

<div class="col-md-3">
    <div class="row">
        <div class="col-md-12 student-base-info">
            @foreach (var student in Model)
            {
                <button class="btn btn-dark text-white w-100 mb-2" onclick="on_click_load_student_infos(this,Number('@student.Id'))">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="w-100">
                                <span>Id :</span>
                                <span>@student.Id</span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <strong>Full Name :</strong>
                                <span>@student.FullName</span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <strong>Curriculum :</strong>
                                <span>@(student.Curriculum is null ? "-" : student.Curriculum.CurriculumName)</span>
                            </p>
                        </div>
                    </div>
                </button>
            }
        </div>
    </div>
</div>
<div class="col-md-9 student-info-section">
</div>

<div class="modal fade" id="student-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function update_button(e, id, studentId, controllerName, actionName)
        {
            $('#student-edit-modal').modal('show');
            $('#student-edit-modal .modal-body').empty();

            $.get(`/${controllerName}/${actionName}`, { id }, (result) =>
            {
                $('#student-edit-modal .modal-body').html(result);

            });
        }

        function on_click_load_student_infos(e, studentId)
        {
            $('.student-base-info button').removeClass("active");

            $(e).addClass('active');

            $.get('/Students/GetStudentOtherInfosById', { studentId }, (result) =>
            {
                $('.student-info-section').empty();
                $('.student-info-section').html(result);
            });
        }
    </script>
}
