@model List<StudentViewModel>

<style>
    .active {
        color: black !important;
        background-color: darkgrey !important;
        border: 1px dashed black !important;
    }

    button p {
        margin-bottom: 5px !important;
        text-align: left !important;
    }
</style>

<div class="col-md-12 mb-2">
    <h4>Students</h4>
    <a asp-controller="Students" asp-action="CreateStudent" class="btn btn-success">
        <i class="fa-solid fa-plus-minus"></i>
    </a>
</div>

<div class="col-md-3">
    <div class="row">
        <div class="col-md-12 student-base-info">
            @foreach (var student in Model)
            {
                <button class="btn btn-dark text-white w-100 mb-2" onclick="on_click_load_student_infos(this,Number('@student.Id'))">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="w-100">
                                <span>Id :</span>
                                <span>@student.Id</span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <strong>Full Name :</strong>
                                <span>@student.FullName</span>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <strong>Curriculum :</strong>
                                <span>@(student.Curriculum is null ? "-" : student.Curriculum.CurriculumName)</span>
                            </p>
                        </div>
                    </div>
                </button>
            }
        </div>
    </div>
</div>
<div class="col-md-9 student-info-section">
</div>

<script>
    function on_click_load_student_infos(e, studentId)
    {
        $('.student-base-info button').removeClass("active");

        $(e).addClass('active');

        $.get('/Students/GetStudentOtherInfosById', { studentId }, (result) =>
        {
            $('.student-info-section').empty();
            $('.student-info-section').html(result);
        });
    }
</script>
